
.container{

    display: flex;
    justify-content: space-evenly;
}

.base-container{
    border:solid 0.5px gray;
    height: 99vh;
    box-sizing: border-box;
    padding: 8px;
    margin: 5px;
    overflow-y: auto;
    border-radius: 8px;
    box-shadow: 3px 3px 10px #666;
}

.container-cards{
    width: 50%;
    .image-cards{
        width: 130px;
        margin: 5px;
        cursor: pointer;
        border-radius: 5px;

        &:hover{
            box-shadow: 5px 5px 5px black;
            transform: scale(1.5);
            z-index: 100;
            position: relative;
        }
    }
}

.container-selected-cards{

    .save-button{
        width: 100%;
        margin: 10px 0;
    }
    // @extend .base-container;
    width: 22%;
    igx-list-item {
        position: relative;
        igx-icon{
            position: absolute;
            right: 10px;
            cursor: poiter;
        }
    }
}

.container-filter{
    // @extend .base-container;
    width: 22%;
}

igx-card-header{
    span{
        display: flex;
        justify-content: center;
        align-items: center;
        & h5 {
            margin-top: 0;
            margin-right: 10px;
        }
    }
}
