<header>
    <h4> Meus Baralhos</h4>
    <button igxButton="flat" (click)="goToNewDeck()"> Novo Baralho</button>
</header>
<br/>
<igx-list>
    <igx-list-item [isHeader]=true> Baralhos</igx-list-item>
    <igx-list-item class="item-data" *ngFor="let deck of collection.decks; let i = index">
        {{deck.name}}
        <span>
            <igx-icon (click)="goToEdit(i)">edit</igx-icon>
            <igx-icon (click)="goToDetails(i)">visibility</igx-icon>
            <igx-icon (click)="collection.removeDeck(i)">delete</igx-icon>
        </span>
    </igx-list-item>
</igx-list>



